In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas_profiling
from pandas_profiling import ProfileReport

In [2]:
#Para obtener multiples salidas de una celda
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [3]:
basedir = './GlobalTemperatures'

In [4]:
clima = os.path.join(basedir, 'GlobalTemperatures' + '.csv')
dfClima = pd.read_csv(clima)

In [5]:
city = os.path.join(basedir, 'GlobalLandTemperaturesBy' + 'City' + '.csv')
dfCity = pd.read_csv(city)

In [6]:
country = os.path.join(basedir, 'GlobalLandTemperaturesBy' + 'Country' + '.csv')
dfCountry = pd.read_csv(country)

In [7]:
majorcity = os.path.join(basedir, 'GlobalLandTemperaturesBy' + 'MajorCity' + '.csv')
dfMajorCity = pd.read_csv(majorcity)

In [8]:
state = os.path.join(basedir, 'GlobalLandTemperaturesBy' + 'State' + '.csv')
dfState = pd.read_csv(state)

1. Primeros elementos del planteamiento del problema, preguntas de investigación y comprensión del negocio y de los datos

  - Identificar unidad de observación.  Una unidad de observación es el elemento (o elementos) que observa, mide o recopila mientras intenta aprender algo sobre su unidad de análisis. Ver artículo (Enlaces a un sitio externo.)
  - Identificación de cada unidad de análisis y sus correspondientes preguntas de investigación de tipo descriptivas y, si procede, predictivas. Una unidad de análisis es la entidad sobre la que desea decir algo (analítica: descriptiva, diagnóstico, predicción, prescripción).

Nuestra unidad de analisis seria el tiempo y la ciudad/pais/estado que corresponde, mientras que nuestra unidad de observación sera nuestra temperatura

2. Justificación del porqué los datos son de panel, longitudinales o transversales (cross-sectional)

Todas las tablas de datos son de panel, ya que se refieren a datos temporales de varios individuos, teniendo observaciones mensuales para distintas ciudades, estados, paises o ciudades mayores. La unica que varia en su tipo de datos es la global, que se convierte en longitudinal, al analizar al mismo sujeto a traves del tiempo

3. Identificar el tipo de dato de cada columna teniendo en cuenta su clasificación en Estadística https://www.questionpro.com/blog/es/tipos-de-datos-estadisticos/

4. Hacer análisis univariado que incluya:

  - Estadística descriptiva de cada columna,
  - Gráficos con los datos de cada columna que ayuden a realizar hallazgos en estas estadísticas, así como análisis de outliers. Ejemplos: dispersión, histogramas, distribución, cajas y bigotes.
  - Análisis de datos faltantes y erróneos
  - Otras tareas de preprocesamiento.
  - Incluya celdas markdown con sus hallazgos.

In [9]:
print('GLOBAL')
dfClima.head(1)
dfClima.info()
dfClima.describe()

print('\n\n')

print('CITY')
dfCity.head(1)
dfCity.info(show_counts=True)
dfCity.describe()

print('\n\n')

print('COUNTRY')
dfCountry.head(1)
dfCountry.info()
dfCountry.describe()

print('\n\n')

print('MAJORCITY')
dfMajorCity.head(1)
dfMajorCity.info()
dfMajorCity.describe()

print('\n\n')

print('STATE')
dfState.head(1)
dfState.info()
dfState.describe()

GLOBAL

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,1750-01-01,3.034,3.574,NaN,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3192 entries, 0 to 3191
Data columns (total 9 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   dt                                         3192 non-null   object
 1   LandAverageTemperature                     3180 non-null   float64
 2   LandAverageTemperatureUncertainty          3180 non-null   float64
 3   LandMaxTemperature                         1992 non-null   float64
 4   LandMaxTemperatureUncertainty              1992 non-null   float64
 5   LandMinTemperature                         1992 non-null   float64
 6   LandMinTemperatureUncertainty              1992 non-null   float64
 7   LandAndOceanAverageTemperature             1992 non-null   float64
 8   LandAndOceanAverageTemperatureUncertainty  1992 non-null   float64
dtypes: float64(8), object(1)
memory usage: 224.6+ KB

,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
count,3180.000000,3180.000000,1992.000000,1992.000000,1992.000000,1992.000000,1992.000000,1992.000000
mean,8.374731,0.938468,14.350601,0.479782,2.743595,0.431849,15.212566,0.128532
std,4.381310,1.096440,4.309579,0.583203,4.155835,0.445838,1.274093,0.073587
min,-2.080000,0.034000,5.900000,0.044000,-5.407000,0.045000,12.475000,0.042000
25%,4.312000,0.186750,10.212000,0.142000,-1.334500,0.155000,14.047000,0.063000
50%,8.610500,0.392000,14.760000,0.252000,2.949500,0.279000,15.251000,0.122000
75%,12.548250,1.419250,18.451500,0.539000,6.778750,0.458250,16.396250,0.151000
max,19.021000,7.880000,21.320000,4.373000,9.715000,3.498000,17.611000,0.457000

CITY

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8599212 entries, 0 to 8599211
Data columns (total 7 columns):
 #   Column                         Non-Null Count    Dtype
---  ------                         --------------    -----
 0   dt                             8599212 non-null  object
 1   AverageTemperature             8235082 non-null  float64
 2   AverageTemperatureUncertainty  8235082 non-null  float64
 3   City                           8599212 non-null  object
 4   Country                        8599212 non-null  object
 5   Latitude                       8599212 non-null  object
 6   Longitude                      8599212 non-null  object
dtypes: float64(2), object(5)
memory usage: 459.2+ MB

       AverageTemperature  AverageTemperatureUncertainty
count        8.235082e+06                   8.235082e+06
mean         1.672743e+01                   1.028575e+00
std          1.035344e+01                   1.129733e+00
min         -4.270400e+01                   3.400000e-02
25%          1.029900e+01                   3.370000e-01
50%          1.883100e+01                   5.910000e-01
75%          2.521000e+01                   1.349000e+00
max          3.965100e+01                   1.539600e+01

COUNTRY

           dt  AverageTemperature  AverageTemperatureUncertainty Country
0  1743-11-01               4.384                          2.294   Åland

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577462 entries, 0 to 577461
Data columns (total 4 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   dt                             577462 non-null  object
 1   AverageTemperature             544811 non-null  float64
 2   AverageTemperatureUncertainty  545550 non-null  float64
 3   Country                        577462 non-null  object
dtypes: float64(2), object(2)
memory usage: 17.6+ MB

       AverageTemperature  AverageTemperatureUncertainty
count       544811.000000                  545550.000000
mean            17.193354                       1.019057
std             10.953966                       1.201930
min            -37.658000                       0.052000
25%             10.025000                       0.323000
50%             20.901000                       0.571000
75%             25.814000                       1.206000
max             38.842000                      15.003000

MAJORCITY

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1849-01-01,26.704,1.435,Abidjan,Côte D'Ivoire,5.63N,3.23W

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239177 entries, 0 to 239176
Data columns (total 7 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   dt                             239177 non-null  object
 1   AverageTemperature             228175 non-null  float64
 2   AverageTemperatureUncertainty  228175 non-null  float64
 3   City                           239177 non-null  object
 4   Country                        239177 non-null  object
 5   Latitude                       239177 non-null  object
 6   Longitude                      239177 non-null  object
dtypes: float64(2), object(5)
memory usage: 12.8+ MB

       AverageTemperature  AverageTemperatureUncertainty
count       228175.000000                  228175.000000
mean            18.125969                       0.969343
std             10.024800                       0.979644
min            -26.772000                       0.040000
25%             12.710000                       0.340000
50%             20.428000                       0.592000
75%             25.918000                       1.320000
max             38.283000                      14.037000

STATE

           dt  AverageTemperature  AverageTemperatureUncertainty State Country
0  1855-05-01              25.544                          1.171  Acre  Brazil

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645675 entries, 0 to 645674
Data columns (total 5 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   dt                             645675 non-null  object
 1   AverageTemperature             620027 non-null  float64
 2   AverageTemperatureUncertainty  620027 non-null  float64
 3   State                          645675 non-null  object
 4   Country                        645675 non-null  object
dtypes: float64(2), object(3)
memory usage: 24.6+ MB

       AverageTemperature  AverageTemperatureUncertainty
count       620027.000000                  620027.000000
mean             8.993111                       1.287647
std             13.772150                       1.360392
min            -45.389000                       0.036000
25%             -0.693000                       0.316000
50%             11.199000                       0.656000
75%             19.899000                       1.850000
max             36.339000                      12.646000

In [10]:
dfDict = {'clima': {'df': dfClima, 'title': 'Reporte Temperaturas Globales'}, 
        'ciudad': {'df': dfCity, 'title': 'Reporte Temperaturas Por Ciudad'},
        'pais': {'df': dfCountry, 'title': 'Reporte Temperaturas Por País'}, 
        'ciudad mayor': {'df': dfMajorCity, 'title': 'Reporte Temperaturas Por Ciudad Mayor'},
        'estado': {'df': dfState, 'title': 'Reporte Temperaturas Por Estado'}}

In [11]:
for item in dfDict:
    title = dfDict[item]['title']
    perfil = pandas_profiling.ProfileReport(dfDict[item]['df'], title = title)
    perfil.to_file(output_file=f'./Profiles/{title}.html')

Summarize dataset:   0%|          | 0/23 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

Summarize dataset:   0%|          | 0/21 [00:00<?, ?it/s]

c:\Users\Rafael\anaconda3\envs\PAD\lib\site-packages\scipy\stats\stats.py:4812: RuntimeWarning: overflow encountered in longlong_scalars
  (2 * xtie * ytie) / m + x0 * y0 / (9 * m * (size - 2)))

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

Summarize dataset:   0%|          | 0/18 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

Summarize dataset:   0%|          | 0/21 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

Summarize dataset:   0%|          | 0/19 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]